@page
@model PetrolTracker.Pages.IndexModel

<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/filter.css" rel="stylesheet" type="text/css" />
<div class="bottom-sheet" id="bottomSheet">
	<div class="content" id="petrol-filter">
		<lable>Бензин</lable>
		@{
			foreach (DbManager.Petrol el in Model.Petrols!)
			{
				<button class="choses-btn">@el.Name</button>
			}
		}
	</div>
	<div class="content" id="station-filter">
		<label>Заправка</label>
		<input type="text"/>
	</div>
	<dib class="bottom-buttons">
		<button class="btn" id="submit-button">Submit</button>
		<button class="btn" id="close-button">Close</button>
	</dib>
</div>
<div class="grid-container">
	<div id="map"></div>
	<div class="glass-div">
		<div class="filter-container">
			<button class="btn" id="filter-submit">Filter</button>
		</div>
		<div class="scroll_div">
			@{
				if (Model.GasStations?.Count == 0)
				{
					<div>
						<p>Ничего не найдено</p>
					</div>
				}else{
					foreach (DbManager.GasStation el in Model.GasStations!) 
					{
						<div class="glass-div GasStation">
							<div class="card-header">@el.Name.ToUpper()</div>
							<div class="card-body">
								<div class="minimal-box-column">
									<p class="location">@el.Address</p>
								</div>
									<div class="minimal-box-row">
									@{
										foreach(var petrol in el.Petrols)
										{
											<div>
												<p>@petrol.Name</p>
												<p>@petrol.Price</p>
												<p>@Model.GetUpdate(el, petrol)</p>
											</div>
										}
									}
								</div>
							</div>
						</div>
					}
				}
			}
		</div>
	</div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=107a0c84-45d3-407b-a236-9daa3692445c&load=package.full&lang=ru-RU" type="text/javascript"></script>

<script src="/js/Index.js"></script>
